{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>{{ article.title }}  <a onclick="addToFavorite()"> {{ isFavorite ?
            '<i id="favorite" class="fas fa-heart"></i>' : '<i id="favorite" class="far fa-heart"></i>' }}
        </a></h1>

    {% if isNotAuthor is defined and isNotAuthor == true %}
        <p class="error">You are not the author of the article...</p>
    {%endif%}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ article.author.email }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ article.slug }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_AUTHOR') %}
        <a href="{{ path('article_edit', { 'id': article.id} ) }}">Éditer</a>
    {%endif%}

    <a href="{{ path('article_index') }}">back to list</a>


    <p><strong>Tags :</strong></p>
    <ul>
        {% for tag in article.tags %}
            <li>{{ tag.name }} </li>
        {% else %}
            <li>No tags for this article</li>
        {% endfor %}
    </ul>

    {{ include('article/_delete_form.html.twig') }}

    <script>
        function addToFavorite() {
            fetch('{{ path('article_favorite', {'id': article.id}) }}')
                .then(response => response.json())
                .then(json => {
                    let favoriteElt = document.getElementById('favorite');
                    if (json.isFavorite) {
                        favoriteElt.classList.remove('far');
                        favoriteElt.classList.add('fas');
                    }
                    else {
                        favoriteElt.classList.remove('fas');
                        favoriteElt.classList.add('far');
                    }
                });
        }
    </script>
{% endblock %}

